:root {
  --link--hover: #7943A4; /*цвета ссылок и кнопок*/
  --link--focus: #C283F3;
}
/*шрифты*/
@font-face {
	font-family: 'OpenSans-Regular';
	src: local('OpenSans-Regular'), local('OpenSans-Regular'),
		url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-SemiBold';
	src: local('OpenSans-SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: local('OpenSans-Bold'), local('OpenSans-Bold'),
		url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Italic';
	src: local('OpenSans-Italic'), local('OpenSans-Italic'),
		url('../fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans-Italic.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/*Общие стили страницы*/
html {
  scroll-behavior: smooth;
}
div, p, span, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 50px;
}
.btn, a, select {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  overflow: hidden;
}
.body {
  font-family: 'OpenSans-Regular';
}
h2 {
  font-size: 48px;
  line-height: 65px;
}
section {
  margin-bottom: 80px;
}

/*header*/
.header {
  position: relative;
  padding: 29px 0;
  background-color: #000000;
  color: #ffffff;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'OpenSans-Regular';
}
.header__logo {
  margin-right: 179px;
}
.header__nav-item {
  font-size: 18px;
  line-height: 25px;
}
.header-search {
  display: none;
}
.header-search__button {
  padding: 0;
  background: none;
  border: none;
}
.header-search__button svg:hover rect {
  fill: #9D5CD0;
}
.header-search__button svg:hover path {
  fill: #9D5CD0;
}
.header-search__button svg:focus rect {
  fill: #9D5CD0;
}
.header-search__button svg:focus path {
  fill: #9D5CD0;
}
.header-search__button svg:active rect {
  fill: #7943A4;
}
.header-search__button svg:active path {
  fill: #7943A4;
}
.search-form {
  display: none;
  position: absolute;
  right: 50px;
  height: 50%;
  background-color: #000000;
}
.btn-search {
  background: none;
  border: none;
}
.search-input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 16px;
}
.search-input__start {
  margin-right: 10px;
}
.search-input__end {
  margin-left: 24px;
}
/*стилизация бургера*/
.burger {
  display: flex;
  flex-direction: column;
}
.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36px;
  height: 28px;
  transition: background-color 0.3s ease-in-out;
  background: none;
  border: none;
}
.burger-icon__elem {
  display: block;
  height: 3.5px;
  width: 36px;
  background-color: #ffffff;
}
.burger-icon__elem--second {
  width: 28px;
}
.burger-icon__elem--third {
  width: 24px;
}
.burger-icon:hover .burger-icon__elem {
  background-color: var(--link--hover);
}
.burger-icon:focus .burger-icon__elem {
  background-color: var(--link--focus);
}
.burger-icon:active .burger-icon__elem {
  background-color: var(--link--hover);
}
.vis-none {
  display: none;
}
.burger__nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
/*стилизация навигации хедера*/
.header__nav {
  display: flex;
  flex-grow: 1;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
}
.header__nav-item:not(:last-child) {
  margin-right: 57px;
}
.header__nav-item a { /*стилизация ссылок*/
  padding: 5px;
  transition: background-color 0.3s ease-in-out,  color 0.3s ease-in-out;
  color: #ffffff;
}
.header__nav-item a:hover {
  background-color: var(--link--hover);
}
.header__nav-item a:focus {
  color: var(--link--focus);
  background: none;
}
.header__nav-item a:active {
  color: var(--link--hover);
  background: none;
}
.header__nav--button {
  flex-grow: 10;
  text-align: end;
}

/*стилизация кнопки входа*/
.enter a {
  padding: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.enter a:hover {
  background-color: var(--link--hover);
}
.enter a:focus {
  background: none;
  color: var(--link--focus);
}
.enter a:focus .enter__icon--path {
  fill: var(--link--focus);
}
.enter a:focus .btn {
  color: var(--link--focus);
}
.enter a:active {
  background: none;
}
.enter a:active .enter__icon--path  {
  fill: var(--link--hover);
}
.enter a:active .btn {
  color: var(--link--hover);
}
.enter__button {
  background: none;
  color:#ffffff;
  border: none;
}

/*hero*/
.hero {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  font-family: 'OpenSans-Regular';
  animation: hero 10s linear infinite alternate;
}
@keyframes hero {
  0% {
      background-image: url(/img/banner-slider-slide-1.png);
  }
  50% {
      background-image: url(/img/banner-slider-slide-2.png);
  }
  100% {
      background-image: url(/img/banner-slider-slide-3.png);
  }
}
/*стилизация directions*/
/*стилизация списка*/
.banner-up {
  background: rgba(0, 0, 0, 0.4);
}
.directions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}
.directions__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.directions__item {
  position: relative;
}
.directions__item:not(:last-child) {
  margin-right: 97px;
}
.directions__button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.directions__button:hover {
  background-color: var(--link--hover);
}
.directions__button:focus {
  color: var(--link--focus);
  background: none;
}
.directions__button:focus .block-svg-directions__path {
  stroke: var(--link--focus);
}
.directions__button:active {
  color: var(--link--hover);
}
.directions__button:active .block-svg-directions__path {
  stroke: var(--link--hover);
}
.directions__button:active  svg {
  transform: rotate(180deg);
}
.btn-real--active svg {
  transform: rotate(180deg);
}
.btn-impr--active svg {
  transform: rotate(180deg);
}
.btn-post--active svg {
  transform: rotate(180deg);
}
.btn-ava--active svg {
  transform: rotate(180deg);
}
.btn-fut--active svg {
  transform: rotate(180deg);
}


/*стилизация появляющегося списка*/
.person-list a:not(:last-child) {
  margin-bottom: 20px;
}
.person-list {
  position: absolute;
  display: flex;
  display: block;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 300px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
}
.list__real {
  display: none;
}.list__real--active {
  display: block;
}
.list__impr {
  display: none;
}.list__impr--active {
  display: block;
}
.list__post {
  display: none;
}
.list__post--active {
  display: block;
}
.list__ava {
  display: none;
}.list__ava--active {
  display: block;
}
.list__fut {
  display: none; 
}
.list__fut--active {
  display: block; 
}
.person-list-item {
  display: block;
  min-height: 100%;
  min-width: 220px;
  padding-top: 12px;
  padding-left: 14px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
.list__real-item--first {
  background-image: url(/img/down-header/img-tintoretto.png);
}
.list__real-item--second {
  background-image: url(/img/down-header/img-fridrich.png);
}
.list__real-item--third {
  background-image: url(/img/down-header/img-leonardo.png);
}
.list__real-item--fourth {
  background-image: url(/img/down-header/img-verrokio.png);
}
.list__impr-item--first {
  background-image: url(/img/down-header/img-mone.png);
}
.list__impr-item--second {
  background-image: url(/img/down-header/img-sisley.png);
}
.list__impr-item--third {
  background-image: url(/img/down-header/img-mane.png);
}
.list__impr-item--fourth {
  background-image: url(/img/down-header/img-renuar.png);
}
.list__post-item--first {
  background-image: url(/img/down-header/img-vangog.png);
}
.list__post-item--second {
  background-image: url(/img/down-header/img-sezann.png);
}
.list__post-item--third {
  background-image: url(/img/down-header/img-gogen.png);
}
.list__post-item--fourth {
  background-image: url(/img/down-header/img-sera.png);
}
.list__ava-item--first {
  background-image: url(/img/down-header/img-kandinsky.png);
}
.list__ava-item--second {
  background-image: url(/img/down-header/img-marinetti.png);
}
.list__ava-item--third {
  background-image: url(/img/down-header/img-malevich.png);
}
.list__ava-item--fourth {
  background-image: url(/img/down-header/img-pikasso.png);
}
.list__fut-item--first {
  background-image: url(/img/down-header/img-karra.png);
}
.list__fut-item--second {
  background-image: url(/img/down-header/img-pratella.png);
}
.list__fut-item--third {
  background-image: url(/img/down-header/img-severiny.png);
}
.list__fut-item--fourth {
  background-image: url(/img/down-header/img-balla.png);
}
.person-list a {
  transition: all 0.3s ease-in-out;
}
.person-list-item:hover {
  outline: 2px solid var(--link--hover);
}
.person-list-item:focus {
  outline: 2px solid var(--link--hover);
}
.person-list-item:active {
  outline: 2px solid #D1A9F0;
}

/*стилизация скроллбара*/
.simplebar-track .simplebar-horizontal {
  display: none;
}
.simplebar-track.simplebar-vertical {
  width: 4px;
  background: #ffffff;
  cursor: pointer;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  width: 4px;
  opacity: 1;
  left: 0;
  top: 0;
  bottom: 0;
}


/*стилизация search*/
.search {
  max-width: 250px;
  width: 100%;
}
.search__form {
  display: flex;
  align-items: center;
}
.search__button {
  background: none;
  border: none;
}
.search__form--input {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.search__form--input:hover {
  border-bottom: 1px solid var(--link--hover);
}
.search__form--input:focus {
  border-bottom: 1px solid var(--link--focus);
}
.search__form--input:active {
  border-bottom: 1px solid var(--link--hover);
}

/*Стилизация контента Hero*/
.banner-down__content{
  padding-top: 63px;
  padding-bottom: 125px;
  max-width: 600px;
  color: #FFFFFF;
  font-family: 'OpenSans-SemiBold';
}
h1 {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;

}
.banner-down__content--text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 95px;
}
.banner-down__btn {
  padding: 22px 35px;
  background-color: #9D5CD0;
  color: #FFFFFF;
  border-radius: 100px;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  line-height: 25px;
  font-family: 'OpenSans-SemiBold';
}
.banner-down__btn:hover {
  outline: 3px solid #D1A9F0;
}
.banner-down__btn:focus {
  outline-offset: 5px;
  outline: 2px solid #D1A9F0;
}
.banner-down__btn:active {
  background: var(--link--hover);
  outline-offset: 0;
  outline: 3px solid #D1A9F0;
}


/*Стилизация about-me*/
.about-me {
  margin-bottom: 70px;
}
.about-me__block {
  max-width: 1080px;
  font-family: 'OpenSans-Regular';
}
.about-me__title {
  margin-bottom: 15px;
}
.about-me__text {
  font-size: 16px;
  line-height: 200%;
}

/*Стилизация галереи*/
.gallery {
  background-image: url(/img/gallery-back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.gallery-swiper {
  overflow: hidden;
}
.swiper-slide.gallery-swiper__slide {
  cursor: pointer;
}
.gallery-block {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  color: #ffffff;
  font-family: 'OpenSans-Regular';
}
.gallery-wrap {
  display: flex;
  flex-direction: row;
}
.gallery-descr {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 50px;
}
.gallery__title {
  margin-bottom: 15px;
}
.gallery-descr span {
  font-size: 16px;
  line-height: 200%;
}
.gallery__form {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gallery__form span {
  position: relative;
}

/*стилизация чекбоксов*/
.gallery__checkbox-block {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.gallery__link-checkbox {
  cursor: auto;
}
.gallery__checkbox {  /*скрываем чекбоксы*/
  opacity: 0;
}
.gallery__link-checkbox label {
  position: relative;
  padding-left: 10px;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
}
.gallery__link-checkbox label:before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
  left: -15px;
  top: 25%;
  background-position: 50% 50%;
}
.gallery__checkbox:checked + label::before {
  border-color: rgba(194, 131, 243, 1);
  background-image: url(/img/checkbox.png);
  background-repeat: no-repeat;
}
.gallery__checkbox:checked + label {
  color: rgba(194, 131, 243, 1);
}

/*стилизация селекта*/
.choices  {
  position: relative;
  overflow: hidden;
  background-image: url(/img/arrow.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.choices__inner {
  position: relative;
  min-height: auto;
  padding: 9px 0;
  border-radius: 6px;
  background: none;
}
.choices .choices__inner {
  border-radius: 6px;
}
.choices.is-open .choices {
  background: none;
}
.choices.is-open {
  border-radius: 6px;
  background-image: url(/img/arrow-transform.png);
}
.choices__placeholder {
  opacity: 1;
}
.choices__list--single {
  padding: 0;
  padding-left: 15px;
}
.choices__list.choices__list--dropdown.is-active {
  min-height: 100%;
  border-radius: 6px;
  z-index: 1;
}
.choices__list[aria-expanded] .choices__list {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}
.choices__list.choices__list--dropdown {
  background: none;
  border-top: none;
}
.choices__list.choices__list--dropdown.is-active {
  background: none;
}
.choices[data-type*="select-one"]::after {
  content: '';
  width: 15px;
  height: 15px;
  background: none;
  border-width: 0;
  position: absolute;
}
.choices__list[aria-expanded] .choices__item {
  font-size: 14px;
  line-height: 19px;
  padding: 14px;
  padding-left: 15px;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
}
.choices__inner:hover {
  background: rgba(255, 255, 255, 0.2);
}
.choices .choices__list .choices__item.is-selected {
  display: none;
}

/*Стилизация свайпера*/
.swiper-block {
  position: relative;
  width: calc(70% - 50px);
}
.gallery-swiper__slide img {
  width: 100%;
  height: 350px;
}
.swiper__btn { /*поднимаем кнопки навигации слайдера*/
  position: absolute;
  top: -40px;
  bottom: 0;
  height: 42px;
  z-index: 1000;
}
.swiper__btn button {
  background: none;
  border: none;
}
.swiper-button-next {
  left: 0;
  left: 100px;
}
.swiper-button-next:after { /*убираем дефолтные стрелки кнопок слайдера*/
  display: none;
}
.swiper-button-prev:after {
  display: none;
}
.swiper-pagination-fraction {
  width: 50px;
  height: 30px;
  top: -55px;
  bottom: 0;
  left: 40px;
  font-size: 16px;
  line-height: 200%;
}
.swiper__button-svg--black-path {   /*состояния кнопок слайдера галереи*/
  stroke: #666666;
}
.swiper__button:hover .swiper__button-svg--gray-path {
  fill: rgba(157, 92, 208, 1);
}
.swiper__button:hover .swiper__button-svg--black-path {
  stroke: rgba(157, 92, 208, 1);
}
.swiper__button:focus .swiper__button-svg--black-path {
  stroke: black;
}
.swiper__button:active .swiper__button-svg--black-path {
  stroke: black;
}
.swiper__button:active .swiper__button-svg--gray-path {
  fill: rgba(121, 67, 164, 1)
}

/*стилизация секции catalog*/
.catalog {
  margin-bottom: 80px;
  font-family: 'OpenSans-Regular';
}
.catalog-descr {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}
.catalog-descr__title {
  margin-bottom: 15px;
}
.catalog-descr__text {
  font-size: 16px;
  line-height: 200%;
}

/*Аккордеон*/
.accordion-block {  
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 35px;
}
.accrordion-empty {
  width: 50%;
  margin-right: 50px;
}
.accordion-container {
  list-style-type: none;
  width: calc(50% - 25px);
  width: 50%;
  color: #333333;
}
.ac {   /*элементы списка аккордеона*/
  display: flex;
  flex-direction: column;
  margin: 0;
  border: none;
}
.ac-trigger:first-child {
  border-top: 1px solid #CACACA;
}
.ac .ac-trigger {   /*стилизация кнопок аккордеона*/
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 32px 0;
  background: white;
  border: none;
  align-items: center;
  border-bottom: 1px solid #CACACA;
  transition: border 0.3s ease-in-out;
  font-size: 24px;
  line-height: 32px;
}
.ac-trigger__svg--black-path {
  stroke: #ECECEC;
}
.ac-header {    /*стили заголовков аккоредона*/
  padding: 40px 0;
  font-size: 24px;
  line-height: 32px;
}
.ac.js-enabled:first-child {
  border-top: 1px solid #CACACA;
}
.ac-panel {
  border-bottom: 1px solid #CACACA;
}
.ac .ac-trigger::after {  /*скрыть дефолтную иконку акокрдеона*/
  display: none;
}
.ac .ac-panel .ac-text {  /*стилизация паддингов внутри элементов аккордеона*/
  padding: 25px 0;
}
.ac .ac-trigger span {    /*стилизация состояний кнопок аккордеона*/
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.ac .ac-trigger:hover span {
  background-color: #9D5CD0;
  color: #FFFFFF;
}
.ac-trigger__svg-path {
  transition: all 0.3s ease-in-out;
}
.ac .ac-trigger:hover .ac-trigger__svg--gray-path {
  fill: #D1A9F0;
}
.ac .ac-trigger:focus {
  color: #333333;
}
.ac .ac-trigger:focus span {
  color: #9D5CD0;
}
.ac .ac-trigger:focus .ac-trigger__svg--gray-path {
  fill: #D1A9F0;
}
.ac-trigger:focus {
  border-bottom: 1px solid #9D5CD0;
}
.ac .ac-trigger:focus span {
  color: #7943A4;
  background: none;
}
.ac.js-enabled:focus .ac.js-enabled:first-child {
  border-color: #7943A4;
}
.ac.js-enabled:active .ac.js-enabled:first-child {
  border-color: #7943A4;
}
.ac-trigger:active {
  border-bottom: 1px solid #7943A4;
}
.ac-trigger:active .ac-trigger__svg--black-path {
  stroke: #9D5CD0;
}
.ac .ac-trigger:active .ac-trigger__svg--gray-path {
  fill: #D1A9F0;
}
.ac.js-enabled.is-active .ac-trigger__svg {
  transform: rotate(180deg);
}
.ac-panel .ac-panel__block {   /*стилизация табов*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px 0;
  max-height: 338px;
  list-style-type: none;
}
.ac .ac-panel .ac-text {
  width: 30%;
  padding: 0;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  line-height: 200%;
}
.ac .ac-panel .ac-text .ac-text__name{    /*Стилизация состояний ссылок*/
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.ac .ac-panel .ac-text:hover .ac-text__name {
  background-color: #9D5CD0;
  color: #FFFFFF;
}
.ac .ac-panel .ac-text:focus .ac-text__name {
  color: #D1A9F0;
  border-bottom: 1px solid #D1A9F0;
}
.ac .ac-panel .ac-text:active .ac-text__name {
  color: #7943A4;
  background: none;
}
.art-block__img {   /*стилизация контента внутри табов*/
  width: 100%;
  max-height: 470px;
}
.ac-text__content {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: 'OpenSans-Regular';
  font-weight: 600;
}
/*.ac-text__content--first {
  display: block;
  position: relative;
  transform: translate(-100vw);
}*/
.ac-text__content h3 {
  padding-top: 25px;
  font-size: 24px;
  line-height: 33px;
}
.art-block__date {
  font-size: 12px;
  line-height: 150%;
  color: rgba(153, 153, 153, 1);
}
.art-block__text {
  display: block;
  font-size: 16px;
  line-height: 32px;
}
.ac-text__content.active {
  display: block;
}
.ac-text__content {   /*скрываем блоки с контентом*/
  display: none;
}
/*стилизация пустых табов*/
.ac .ac-panel .ac-text-empty {
  width: 100%;
}
.empty {
  display: flex;
  flex-direction: row;
}
.empty__back-image {
  width: 251px;
  height: 165px;
  margin-left: 14px;
  margin-right: 30px;
  margin-top: 14px;
  margin-bottom: 14px;
  background: #B7B7B7;
  outline-offset: 12px;
  outline: 2px solid #B7B7B7;
  cursor: pointer;
}
.empty__back-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 275px;
}
.empty-title {
  font-size: 24px;
  line-height: 32px;
}
.empty-descr {
  font-size: 16px;
  line-height: 22px;
}
.empty-link {
  color: #9D5CD0;
}
.empty-img-block {
  display: flex;
  justify-content: center;
  padding: 104px 0;
  background-color: #ECECEC;
}
.empty-img-block img {
  max-width: 285px;
  max-height: 265px;
  margin-bottom: 30px;
}
.empty-subtitle {
  margin-bottom: 15px;
}
.empty-subdescr {
  display: block;
  margin-bottom: 15px;
}


/*стилизация секции события*/
.events {
  font-family: 'OpenSans-Regular';
}
.events__title {
  padding-bottom: 10px;
}
/*стилизация слайдера секции события*/
.events-swiper {
  overflow: hidden;
}
.events-swiper__block {
  width: 100%;
}
.events__wrapper {
  position: relative;
}
.events-swiper {
  height: 100%;
  width: 100%;
}
.events-slide img {
  width: 100%;
  max-width: 500px;
  max-height: 300px;
}
.events-slide {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  height: auto;
  min-width: 290px;
}
.events-slide__img-block {
  display: flex;
}
.events-slide__block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 400px;
  padding: 13px 50px 50px 50px;
  font-family: 'OpenSans-Regular';
  border: 1px solid #CACACA;
  box-sizing: border-box;
}
.article-block {
  display: flex;
  flex-direction: column;
}
.article__events {
  display: block;
  max-width: 33%;
  padding-bottom: 13px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}
.events-slide__title {
  max-width: 90%;
  font-size: 24px;
  line-height: 33px;
}
.article__descr {
  flex-grow: 1;
  margin-bottom: 73px;
  font-size: 16px;
  line-height: 32px;
}
.article__link {    /*стилизация ссылок слайдов*/
  position: relative;
  display: inline;
}
.article__link span {
  border-bottom: 1px solid #9D5CD0;
  color: #9D5CD0;
  transition: all 0.3s ease-in-out;
}
.article__link span:hover {
  background-color: #9D5CD0;
  color: #ffffff;
}
.article__link span:focus {
  color: #7943A4;
  background: none;
  border-color: #7943A4;
}
.article__link span:active {
  color: black;
  background: none;
  border-color: black;
}
/*стилизация кнопок слайдера*/
.events-swiper__btn {
  top: 47%;
}
.events-swiper-button-prev {
  left: -5%;
}
.events-swiper-button-next {
  left: 98%;
}
.events-swiper__btn:hover .events__svg--gray-path {
  fill: #D1A9F0;
}
.events-swiper__btn:focus .events__svg--gray-path {
  fill: #ECECEC;
}
.events-swiper__btn:focus .events__svg--black-path {
  stroke: #9D5CD0;
}
.events-swiper__btn:active .events__svg--gray-path {
  fill: #D1A9F0;
}
.events-swiper__btn:active .events__svg--black-path {
  stroke: #9D5CD0;
}
.swiper__btn.events-swiper-button-prev.events-swiper__btn.swiper-button-disabled {
  opacity: 0;
}
.swiper__btn.events-swiper-button-next.events-swiper__btn.swiper-button-disabled {
  opacity: 0;
}
.events-pagination {
  display: none;
}

/*Стилизация секции проекты*/
.projects {
  font-family: 'OpenSans-Regular';
}
.projects__title {
  margin-bottom: 10px;
}
.projects__block-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 32px;
}
.projects__descr {
  display: block;
  max-width: 1080px;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 200%;
}
.tooltip { /*стилизация туллтипов*/
  position: relative;
}
.tooltip:hover .tooltip-text {
  opacity: 1;
}
.tooltip-text {
  position: absolute;
  width: 170px;
  padding: 7px 15px;
  left: -75px;
  bottom: 30px;
  min-height: 100%;
  background-color: rgba(102, 102, 102, 1);
  color: #fff;
  text-align: center;
  z-index: 1;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -9px;
  border-width: 8px;
  border-style: solid;
  border-color: rgba(102, 102, 102, 1) transparent transparent transparent;
}
.blanchard-link {   /*стилизация ссылки текста*/
  padding: 0 5px;
  color: #9D5CD0;
  transition: all 0.3s ease-in-out;
}
.blanchard-link__tablet {
  display: none;
}
.blanchard-link:hover {
  background-color: #9D5CD0;
  color: #ffffff;
}
.blanchard-link:focus {
  background: none;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}
.blanchard-link:active {
  background: none;
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

/*Стилизация слайдера секции проекты*/
.projects-swiper {
  overflow: hidden;
}
.projects__swiper-block {
  position: relative;
  width: 100%;
  padding: 0 60px;
}
.projects__swiper-slide {
  display: block;
  min-width: 30%;
  width: 100%;
  max-height: 150px;
  height: 100%;
}
.projects__swiper-slide img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.projects__swiper-slide img:hover {
  filter: grayscale(0%);
}
.projects__swiper-slide img:focus {
  filter: grayscale(100%);
  outline: 1px solid #9D5CD0;
}
.projects__swiper-slide img:active {
  filter: grayscale(0%);
  outline: 1px solid #9D5CD0;
}
.projects__swiper-button-prev {   /*стилизация кнопок слайдера*/
  top: 55%;
}
.projects__swiper-button-next {
  top: 55%;
  left: 98%;
}
.projects__swiper-button-black-path1 {
  stroke: #ECECEC;
}
.projects__swiper-button:hover .projects__swiper-button-gray-path {
  fill:#D1A9F0;
}
.projects__swiper-button:focus .projects__swiper-button-black-path1 {
  stroke:#9D5CD0;
}
.projects__swiper-button:active .projects__swiper-button-gray-path {
  fill:#D1A9F0;
}
.projects__swiper-button:active .projects__swiper-button-black-path1 {
  stroke:#9D5CD0;
}

/*Стилизация секции контакты*/
.contacts {
  margin-bottom: 0;
  border-top: 1px solid #CACACA;
}
.contacts-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
  font-family: 'OpenSans-SemiBold', sans-serif;
  align-items: center;
}
.adress__title {
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
}
.adress__text {
  font-size: 16px;
  line-height: 200%;
}
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form__input {
  margin-right: 20px;
  padding: 9px 24px;
  min-width: 270px;
  border-radius: 100px;
  font-size: 16px;
  line-height: 200%;
  outline: none;
}
.form__input:hover {
  background: #EAEAEA;
}
.form__button {
  padding: 14px 35px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 25px;
  color: #9D5CD0;
  background: none;
  border: none;
  border: 1px solid #9D5CD0;
  transition: all 0.3s ease-in-out;
}
.form__button:hover {
  outline: 3px solid #D1A9F0;
}
.form__button:focus {
  outline-offset: 5px;
  outline: 2px solid #D1A9F0;
}
.form__button:active {
  background: var(--link--hover);
  outline-offset: 0;
  outline: 3px solid #D1A9F0;
  color: #ffffff;
}
.js-validate-error-label {
  position: absolute;
}
.social {
  display: flex;
  flex-direction: column;
}
.social__title {
  padding-bottom: 9px;
  font-size: 24px;
  line-height: 32px;
  font-family: 'OpenSans-SemiBold', sans-serif;
}
.watsapp__link {
  margin-right: 20px;
}
.social__link:hover {   /*стилизация ссылок формы*/
  filter: opacity(50%)
}
.social__link:focus {   
  filter: opacity(70%)
}
.social__link:active  svg {   
  outline: 1px solid #9643A4;
  border-radius: 100px;
  filter: opacity(100%)
}
#map {    /*стилизация карты*/
  height: 700px;
  width: 100%;
  margin: 0;
}
[class*="ground-pane"] {
  filter: grayscale(1);
}
[class*="toolbar"] { /*скрываем иконки поиска, текущего местоположения*/
  display: none;
}
[class*="zoom"] { /*скрываем скролл зума*/
  display: none;
}
[class*="gotoymaps"] { /*скрываем подсказку "как добраться"*/
  display: none;
}
[class*="gototech"] { /*скрываем ссылку на яндекс API*/
  display: none;
}
[class*="controls__control"] { /*скрываем линейку*/
  display: none;
}
[class*="copyrights"] { /*скрываем ссылку на права*/
  display: none;
}
[class*="zoom__button"] { /*скрываем кнопки зума*/
  display: none;
}
[class*="controls__control"] { /*скрываем кнопки зума*/
  display: none;
}


/*Стилизация футера*/
.footer {
  background-color: #000000;
}
.footer-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0;
}
.footer__icons a:not(:last-child) {
  margin-right: 15px;
}
.footer__icons svg:hover .footer__icons-path {
  fill: #FFFFFF;
}
.footer__icons svg:focus .footer__icons-path {
  fill: #FFFFFF;
}
.footer__icons svg:active .footer__icons-path {
  fill: #9D5CD0;
}